@model IEnumerable<BVL.Models.AudioAndMovieModel>

@{
    ViewBag.Title = BVL.Resource.RHome.Audio;
}

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    @foreach (var item in Model)
                    {
                     
                    <div class="col-xs-12 col-md-6">
                        <audio controls="controls">
                            <source src="@Html.DisplayFor(modelItem => item.audioOrMovie)" type="audio/mpeg" />
                        </audio>
                        <br />
                    </div>
                        
    <div class="col-xs-12 col-md-4">
        <div class="about-text">
            <h5 style="font-family: 'Heebo';">
                @Html.DisplayFor(modelItem => item.Subject)<br />
            </h5>
        </div>
        <br />
    </div>
                    }
                </div>
            </div>
            </div>
    </div>

@*<video width="320" height="240" controls>
            <source src="movie.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>*@

       