
@{
    ViewBag.Title = BVL.Resource.RHome.ToraLeasons;
}


<div id="testimonials" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h1 style="font-family: 'Heebo';color:#988454">@BVL.Resource.RBeitVaad.Lessons</h1>
            
            <h3 style="font-family: 'Heebo';color:black">@BVL.Resource.RBeitVaad.downloads</h3>

            <br /><br/><hr style="background: #988454;color:#988454;">
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row testimonials">
                   
                    <div class="col-sm-6">
                        <blockquote style="background-color:gray">
                            <i class="fa fa-quote-left"></i>
                            <p><a style="font-family: 'Heebo';" class="active" href="/Home/Audio">@BVL.Resource.RBeitVaad.Audio</a></p>
                        </blockquote>
                    </div>
                    <div class="col-sm-6">
                        <blockquote style="background-color:gray">
                            <i class="fa fa-quote-left"></i>
                            <p><a style="font-family: 'Heebo';" class="active" href="/Home/Booklets">@BVL.Resource.RBeitVaad.Books</a></p>
                        </blockquote>
                    </div>

                    @*<div class="col-sm-4" >
            <blockquote style="background-color:grey">
                <i class="fa fa-quote-left"></i>
                <p><a class="active" href="/Home/Movie">Video Lessons</a></p>
            </blockquote>
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>