
@{
    ViewBag.Title = BVL.Resource.RHome.VelakachtiEtchem;
}

<header id="header">
   
    
    <div class="aa overlay container text-center">
        <div class="row">
            <div class="intro-text">
                <h3 style="font-family: 'Heebo';color:brown">@BVL.Resource.RBeitVaad.rasha</h3>
                <h3 style="font-family: 'Heebo';color:brown">@BVL.Resource.RBeitVaad.rasha1</h3>
                <h3 style="font-family: 'Heebo';color:brown">@BVL.Resource.RBeitVaad.rasha2</h3>
                <h3 style="font-family: 'Heebo';color:brown">@BVL.Resource.RBeitVaad.rasha3</h3>
            </div>




        </div>
    </div>
     
</header>

