
<h2>Contact</h2>
<h3>Vos coordonnées</h3>

 <p><strong><span class="red">Cette vue a une</span><span> structure différente</span><span class="blue"> des autres langues</span></strong></p>
       
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Soutien:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

@Html.Partial("_Contact")
