@{
    ViewBag.Title = "VOTRE PREMIÈRE APPLICATION MULTI-LANGUE MVC";
}

<div class="jumbotron text-center">
    <h1>VOTRE PREMIÈRE APPLICATION MULTI-LANGUE MVC</h1>
    <p class="lead">ASP.NET est un framework web gratuit pour la création de sites Web MVC multi-langues et d'applications Web utilisant HTML, CSS et JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p><strong><span class="red">Cette vue a une</span><span> structure différente</span><span class="blue"> des autres langues</span></strong></p>
        <p class="text-center">
        <img src="@Url.GetImage("Welcome.jpg")" alt="Welcome"/>
        </p>
        <p class="text-center">
        <img src="@Url.GetImage("eiffel.jpg")" alt="Eiffel"/>
        </p>
        <p>ASP.NET MVC vous offre un moyen puissant et basé sur des modèles pour créer des sites Web dynamiques qui permettent une séparation nette des préoccupations et vous donne un contrôle total sur le balisage pour un développement agréable et agile.</p>      
        
    </div>
</div>